/* Coolors Exported Palette - coolors.co/ef6461-e4b363-e8e9eb-e0dfd5-313638 */
/* HSL */
/* RGB */
/* HEADER */
.header__link--start {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  color: #ddf2ff;
}

.header__link--start:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header__link--github {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  color: #ddf2ff;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__link--github:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header__link--linkedin {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  color: #ddf2ff;
  margin-left: 1vh;
}

.header__link--linkedin:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header__button,
.footer__button {
  font-family: "Lato", sans-serif;
  color: #ddf2ff;
  margin: 2vh;
  padding: 1vh;
  background: #7e92b3;
  border: none;
  -webkit-box-shadow: 0px 0px 15px 0px #7e92b3;
          box-shadow: 0px 0px 15px 0px #7e92b3;
  -webkit-transition-property: background, border-radius, -webkit-transform;
  transition-property: background, border-radius, -webkit-transform;
  transition-property: background, border-radius, transform;
  transition-property: background, border-radius, transform, -webkit-transform;
  -webkit-transition-duration: 1s, 1s, 1s;
          transition-duration: 1s, 1s, 1s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.header__button:hover,
.footer__button:hover {
  background: #00e7ab;
  border-radius: 15px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

/* SKILLS */
.skills__icon--html {
  color: #ff6c39;
  margin: 2vh;
}

.skills__icon--css {
  color: #347dc6;
  margin: 2vh;
}

.skills__icon--js {
  color: #f0db4f;
  margin: 2vh;
}

.skills__icon--react,
.skills__icon--wordpress {
  color: #3a608f;
  margin: 2vh;
}

.skills__icon--git {
  color: #f05133;
  margin: 2vh;
}

/* EXPERIENCE */
.logoPwr {
  width: 10vh;
  height: auto;
  display: block;
  margin: 1vh 2vh;
}

.logoBosch {
  width: 20vh;
  height: auto;
  margin: 1vh 2vh;
}

.logoWabco {
  width: 20vh;
  height: auto;
  margin: 1vh 2vh;
}

.logoSelf {
  margin: 1vh 2vh;
}

.portfolio__button {
  font-family: "Lato", sans-serif;
  font-size: 2vh;
  text-decoration: none;
  color: #ddf2ff;
  padding: 1vh;
  margin-right: 2vh;
  background: #7e92b3;
  border: none;
  -webkit-transition-property: background, border-radius, -webkit-transform;
  transition-property: background, border-radius, -webkit-transform;
  transition-property: background, border-radius, transform;
  transition-property: background, border-radius, transform, -webkit-transform;
  -webkit-transition-duration: 1s, 1s, 1s;
          transition-duration: 1s, 1s, 1s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.portfolio__button:hover {
  background: #00e7ab;
  border-radius: 15px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.portfolio__icon {
  margin-right: 1vh;
}
/*# sourceMappingURL=btnIcons.css.map */