@import "variables.scss";
@import "btnIcons.scss";

/* HEADER */

.header{
    padding: 2em;
    background: url("../img/19292.jpg") no-repeat center center;
    text-align: center;
    font-family: $fontNunito;
    color: $lightblue;
}

.header__group--up{
    display: grid;
    grid-template-columns: 1fr 50% 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

/* MAIN PAGE */

.container{
    padding: 2em;
    background: $lightblue;
}

/* MAIN PAGE - SKILLS */

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

/* MAIN PAGE - PORTFOLIO */

.portfolio{
    font-family: $fontNunito;
    color: $lightblue;
}

.portfolio__projects{
    background: $grey;
    margin: 5vh auto;
    padding: 5vh;
}

.portfolio__text{
    text-align: justify;
}

.portfolio__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio__button{
    width: 7.5em;
    margin: 0.5em;
}

/* MAIN PAGE - EXPERIENCE AND SCHOOLS */

.experience{
    font-family: $fontNunito;
    color: $blue;
}

.experience__project{
    font-family: $fontNunito;
    color: $lightblue;
    background: $grey;
    margin: 5vh auto;
    padding: 5vh;
}

.experience__img{
   display: flex;
   justify-content: space-around; 
   flex-wrap: wrap;
}


/* FOOTER */

.footer{
    padding: 2em;
    background: $lightgreen;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.footer__button{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.footer__group{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: auto;
}

.footer__link{
    margin: 0.5em;
}