/* Coolors Exported Palette - coolors.co/ef6461-e4b363-e8e9eb-e0dfd5-313638 */
/* HSL */
/* RGB */
/* HEADER */
.header__link--start {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  color: #ddf2ff;
}

.header__link--start:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header__link--github {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  color: #ddf2ff;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__link--github:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header__link--linkedin {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  color: #ddf2ff;
  margin-left: 1vh;
}

.header__link--linkedin:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header__button,
.footer__button {
  font-family: "Lato", sans-serif;
  color: #ddf2ff;
  margin: 2vh;
  padding: 1vh;
  background: #7e92b3;
  border: none;
  -webkit-box-shadow: 0px 0px 15px 0px #7e92b3;
          box-shadow: 0px 0px 15px 0px #7e92b3;
  -webkit-transition-property: background, border-radius, -webkit-transform;
  transition-property: background, border-radius, -webkit-transform;
  transition-property: background, border-radius, transform;
  transition-property: background, border-radius, transform, -webkit-transform;
  -webkit-transition-duration: 1s, 1s, 1s;
          transition-duration: 1s, 1s, 1s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.header__button:hover,
.footer__button:hover {
  background: #00e7ab;
  border-radius: 15px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

/* SKILLS */
.skills__icon--html {
  color: #ff6c39;
  margin: 2vh;
}

.skills__icon--css {
  color: #347dc6;
  margin: 2vh;
}

.skills__icon--js {
  color: #f0db4f;
  margin: 2vh;
}

.skills__icon--react,
.skills__icon--wordpress {
  color: #3a608f;
  margin: 2vh;
}

.skills__icon--git {
  color: #f05133;
  margin: 2vh;
}

/* EXPERIENCE */
.logoPwr {
  width: 10vh;
  height: auto;
  display: block;
  margin: 1vh 2vh;
}

.logoBosch {
  width: 20vh;
  height: auto;
  margin: 1vh 2vh;
}

.logoWabco {
  width: 20vh;
  height: auto;
  margin: 1vh 2vh;
}

.logoSelf {
  margin: 1vh 2vh;
}

.portfolio__button {
  font-family: "Lato", sans-serif;
  font-size: 2vh;
  text-decoration: none;
  color: #ddf2ff;
  padding: 1vh;
  margin-right: 2vh;
  background: #7e92b3;
  border: none;
  -webkit-transition-property: background, border-radius, -webkit-transform;
  transition-property: background, border-radius, -webkit-transform;
  transition-property: background, border-radius, transform;
  transition-property: background, border-radius, transform, -webkit-transform;
  -webkit-transition-duration: 1s, 1s, 1s;
          transition-duration: 1s, 1s, 1s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.portfolio__button:hover {
  background: #00e7ab;
  border-radius: 15px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.portfolio__icon {
  margin-right: 1vh;
}

body {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: relative;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* HEADER */
.header {
  background: url("../img/19292.jpg") no-repeat center center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: #ddf2ff;
  padding: 3vh;
}

.header__group--up {
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

/* MAIN PAGE */
.container {
  width: 100%;
  margin: 0vh auto;
  background: #ddf2ff;
}

/* MAIN PAGE - SKILLS */
.skills {
  max-width: 1170px;
  font-family: "Nunito", sans-serif;
  color: #3a608f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
}

/* MAIN PAGE - PORTFOLIO */
.portfolio {
  max-width: 1170px;
  font-family: "Nunito", sans-serif;
  color: #3a608f;
  margin: 0 auto;
}

.portfolio__projects {
  background: #9197AE;
  color: #ddf2ff;
  margin: 5vh 3vh;
  padding: 5vh;
}

.portfolio__img img {
  width: 100%;
  max-width: 50vh;
  height: auto;
  display: block;
  margin: 1vh auto;
  border-radius: 10px;
  position: relative;
}

.portfolio__buttons {
  text-align: center;
  margin-top: 3vh;
}

.portfolio__text {
  text-align: justify;
}

/* MAIN PAGE - EXPERIENCE AND SCHOOLS */
.slider,
.slider__container,
.slider__element {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  position: relative;
}

.slider__element {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slider__element1 {
  width: 400px;
  height: 400px;
  background-image: url("/img/questionmark1.jpg");
}

.slider__element2 {
  width: 400px;
  height: 400px;
  background-image: url("/img/questionmark2.jpg");
}

.slider__element3 {
  width: 400px;
  height: 400px;
  background-image: url("/img/questionmark3.jpg");
}

.slider__button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 0;
  height: 0;
  border-style: solid;
}

.slider__button--prev {
  border-width: 30px 40px 30px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 30px;
  z-index: 1;
}

.slider__button--next {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 30px;
  z-index: 1;
}

.slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/* FOOTER */
.footer {
  background: #00e7ab;
}

.footer__content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 700px) {
  .portfolio__projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 70%;
            flex: 1 1 70%;
  }
  .portfolio__img {
    display: block;
    width: 40%;
    height: auto;
    margin: 0 2vh;
  }
}
/*# sourceMappingURL=style.css.map */